#{extends 'main.html' /}
#{set title:'About' /}

<!-- Hero Banner -->
<section class="hero is-medium is-link"
         style="background: url('public/images/hero_background.png') no-repeat center center; background-size: cover;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                About WeatherTop 1000
            </h1>
            <h2 class="subtitle">
                Learn more about our weather analytics app and the team behind it
            </h2>
            <a class="button is-primary" href="/dashboard">View Dashboard</a>
        </div>
    </div>
</section>


<!-- About the App Section -->
<section class="section">
    <div class="container">
        <h3 class="title is-3">About the App</h3>
        <div class="columns">
            <div class="column is-two-thirds">
                <p class="paragraph">WeatherTop 1000 is a weather analytics app that provides accurate, real-time
                    weather data from our network of user-owned weather stations. Our goal is to help users stay
                    informed and prepared for any weather conditions, making it easier for them to plan their activities
                    and make better decisions.</p>
                <p class="paragraph">Our easy-to-use dashboard provides instant access to essential weather information,
                    including temperature, wind speed, and pressure, allowing users to monitor weather conditions at a
                    glance.</p>
                <p class="paragraph">With WeatherTop 1000, you can say goodbye to relying solely on weather forecasts
                    from distant meteorological stations. Our app taps into a vast network of user-owned weather
                    stations, ensuring you receive precise and up-to-date weather data in real-time. We believe that
                    accurate information is the key to staying ahead of unpredictable weather patterns and making
                    informed choices.</p>
            </div>
            <div class="column">
                <figure class="image container is-256x256">
                    <img src="/public/images/ws1000_transparent_bg.png" alt="WeatherTop WS1000"/>
                </figure>
            </div>
        </div>
    </div>
</section>

<!-- Our Team Section -->
<section class="section">
    <div class="container">
        <h3 class="title is-3">Meet Our Team</h3>
        <div class="columns is-vcentered">
            <!-- Add team member information with their images and roles -->
            <div class="column has-text-centered">
                <figure class="image is-256x256" style="margin: 0 auto;">
                    <img src="/public/images/team-member-1.png" alt="Team Member 1"/>
                </figure>
                <p class="title is-5">John Doe</p>
                <p class="subtitle is-6">Founder & CEO</p>
            </div>
            <div class="column has-text-centered">
                <figure class="image is-256x256" style="margin: 0 auto;">
                    <img src="/public/images/team-member-2.png" alt="Team Member 2"/>
                </figure>
                <p class="title is-5">Mark Smith</p>
                <p class="subtitle is-6">Founder & Lead Developer</p>
            </div>
            <!-- Add more team members as needed -->
        </div>
    </div>
</section>

<!-- Call to Action Section -->
<section class="section">
    <div class="container has-text-centered">
        <h4 class="title is-4">Ready to try WeatherTop 1000?</h4>
        <a class="button is-primary" href="/dashboard">View Dashboard</a>
    </div>
</section>