#{extends 'main.html' /}
#{set title:'Welcome' /}

<!-- Hero Banner -->
<section class="hero is-medium is-link"
         style="background: url('public/images/hero_background.png') no-repeat center center; background-size: cover;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome to WeatherTop 1000
            </h1>
            <h2 class="subtitle">
                Discover accurate, real-time weather analytics from our network of user-owned stations
            </h2>
            <a class="button is-primary" href="/dashboard">View Dashboard</a>
        </div>
    </div>
</section>


<!-- Features Section -->
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <p class="title is-4">Real-time Weather Data</p>
                    <p>Get instant access to accurate, up-to-date weather information from our network of user-owned
                        WeatherTop 1000 stations.</p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <p class="title is-4">Stay Informed</p>
                    <p>Stay informed and prepared for any weather conditions with our easy-to-use dashboard that
                        provides all the essential data at a glance.</p>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <p class="title is-4">User-friendly Interface</p>
                    <p>Our intuitive interface makes it easy for users of all levels to navigate and make the most of
                        our weather analytics platform.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials Section -->
<section class="section">
    <div class="container">
        <h3 class="title is-3">What Our Users Say</h3>
        <div class="columns">
            <div class="column">
                <blockquote>
                    "WeatherTop 1000 has been a game-changer for me. The real-time data helps me stay prepared for any
                    weather conditions."
                    <footer>- John Doe, Weather Enthusiast</footer>
                </blockquote>
            </div>
            <div class="column">
                <blockquote>
                    "The user-friendly interface made it easy for me to monitor the weather and plan my outdoor
                    activities accordingly."
                    <footer>- Jane Smith, Avid Hiker</footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>

